%body
.top
  = render "top"
.contents
  .contents-category.clearfix
    = render "category"
  .contents-world.clearfix
    = render "world"
  .contents-world.clearfix
    = render "world"
  .footer-link
    = render "footer-link"

.footer
  = render "footer"



